<!-- From Desktop Modal -->
<div class="modal fade" id="fromDesktop" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content" id="fromDesktopModalContent">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Upload Document into group</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for @upload_document, url: update_group_path do |f| %>
                <%= hidden_field_tag 'id', @group.id.to_s  %>
                <div class="form-group">
                    <div class="form-label-group">
                        <%= f.text_field :document_name, autofocus: true, :class => 'form-control doc_name', :placeholder => 'Document Name', :required => 'required' %>
                        <%= f.label :document_name, :class => 'document_name_label' %>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-label-group">
                        <%= f.hidden_field :document, value: f.object.cached_document_data %>
                        <%= f.file_field :document , class: 'uploadDocument' %>
                        <%= f.label :document %>
                        <% if @upload_document.errors[:document] %>
                        <ul class="errors">
                            <%= @upload_document.errors.full_messages_for(:document).map { |msg| content_tag(:li, msg) }.uniq.join.html_safe %>
                        </ul>
                        <% end %>
                    </div>
                    <%= f.hidden_field :page_details, value: 'all', class: 'page_details' %>
                    <%= f.submit "Upload", :class => 'btn_1 btn-block', :id => 'from_desktop_upload' %>
                    <% end %>
                </div>
            </div>
            <div id="loader_wrap_desktop" class="loader_wrap">
                <img src="/images/loader.gif" id="loader_img" width="100" height="100">
            </div>
        </div>
    </div>
</div>
<script>
$('#new_upload_document').submit(function(e) {
    jQuery('#loader_wrap_desktop').show();
    jQuery('#from_desktop_upload').hide();
    e.preventDefault();
    var valuesToSubmit = new FormData(this);
    var url_action = $(this).attr('action');
    $.ajax({
        type: "POST",
        url: url_action, //sumbits it to the given url of the form
        data: valuesToSubmit,
        processData: false,
        contentType: false,
        success: function(response) {
            jQuery('#loader_wrap_desktop').hide();
            jQuery('#fromDesktop').modal('toggle');
            notification("Document uploaded succesfully", "info");
        },
        error: function(response) {
            notification(JSON.parse(response.responseText)['document_error'], "error");
            // jQuery('#from_desktop_upload').show();
            jQuery('#loader_wrap_desktop').hide();
            jQuery('#from_desktop_upload').show();
        }
    });
    return false; // prevents normal behaviour
});
    // for desktop doc upload
    $(document).on('change', '.uploadDocument', function(e) {
        var fileName = $(this).val().split('fakepath')[1].slice(1);
        //replace the "Choose a file" label
        var doc_name = fileName.split('.')[0];
        $(this).parents('form').find('.doc_name').val(doc_name);
        if ($(this).get(0).files[0].type == "application/pdf") {
            $('.select_page_tag').val('all');
            $('.save_selected_page_button').hide();
            $(this).parents('.row').find('.page_selection_wrapper').show();
            readURL(this);
        } else {
            notification("Please upload a Image/PDF Files.", "error")
        }
    })
</script>