<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Group Item: <span id="total_group_item">
            <%= @group.documents.length %></span>
        <span style="float:right;">
            <i class="fas fa-table"></i>
            OTP:
            <input type="text" id="otp" value="<%= @group.otp %>" data-value="<%= @group.otp %>" disabled>
            <%= button_tag "Show", id: 'toggle_otp', class: 'btn_1' %>
        </span>
    </div><br>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered document_table" id="dataTableGroupDoc" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th width="5%"></th>
                        <th width="30%">Name</th>
                        <th width="25%">Type</th>
                        <th width="">Pgs</th>
                        <% if @group.is_group_sent_for_printing? or @group.status == 'ready_for_print' %>
                        <th width="5%">Status</th>
                        <% else %>
                        <th width="5%"></th>
                        <% end %>
                    </tr>
                </thead>
                <tbody id="tbody_head" data-group-id="<%= @group.id.to_s %>">
                    <% @documents.each do |a| %>
                    <tr data-id="<%= a.id%>" class="document_record">
                        <td>
                            <% if a.is_document_deleted? %>
                            Deleted
                            <% else %>
                            <div class="item group_item" data-iframe="<%= have_to_show_iframe(a) %>" data-src="<%= a.get_preview_url %>">
                                <a href="javscript:;"><i class="fas fa-eye"></i></a>
                            </div>
                            <% end %>
                        </td>
                        <td class="table_entry_name" title="<%= a.document_name %>">   
                            <%= a.document_name %>
                        </td>
                        <td>
                            <%= FileInfo.get_file_media_type(a.document_url).capitalize %>
                        </td>
                        <td>
                            <%= a.total_pages %>
                        </td>
                        <% if @group.is_group_sent_for_printing? or @group.status == 'ready_for_print'%>
                        <td>
                            <%= a.status %>
                        </td>
                        <% else %>
                        <td>
                            <a class="remove_group_document" alt="remove" href="javscript:;"><i class="fas fa-trash"></i></a>
                        </td>
                        <% end %>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <% if @group.is_group_sent_for_printing? == false %>
    <div class="card-footer small text-muted align-items-center">
        <% if @group.status == 'ready_for_print' %>
        <h5 style="color:#008CBA;">Group is ready for print through
            <%= @group.payment_type %>
        </h5>
        <% else %>
        <!-- <div> -->
        <%#= button_tag "Proceed To Pay", id: 'proceed_to_payment', data: {:toggle => 'dropdown', :display => 'static'}, class: ' dropdown-toggle' %>
        <!--             <div class="dropdown-menu" style="margin-top: 0px;">
                <a class="dropdown-item " href="#" data-target="#cash_payment" id="cash_payment"><i class="fas fa-money-bill-alt" style="margin-right: 10px;"></i>Cash</a>
                <a class="dropdown-item " href="#" data-target="#online_payment" id="online_payment"><i class="fas fa-cloud" style="margin-right: 10px;"></i>Online</a>
            </div> -->
        <!-- </div> -->
        
<!--         <div class="dropdown" style="margin-left:10px;">
            <%#= button_tag "Add More", data: {:toggle => 'dropdown', :display => 'static' }, class: 'dropdown-toggle btn btn-primary' %>
            <div class="dropdown-menu btn" style="margin-top: 0px;">
                <a class="dropdown-item " href="#" data-toggle="modal" data-target="#fromDesktop"><i class="fas fa-desktop" style="margin-right: 10px;"></i>From Desktop</a>
                <a class="dropdown-item " href="#" data-toggle="modal" data-target="#fromHistory"><i class="fas fa-history" style="margin-right: 10px;"></i>From History</a>
            </div>
        </div> -->

        <span style="float:right;">
        <a class="btn btn-primary main_button" href="#" data-toggle="modal" data-target="#fromDesktop">Add new</a>
        <a class="btn btn-warn main_button" href="#" data-toggle="modal" data-target="#fromHistory" style="background-color: #ca8f64;">Add older</a></span><br><br>
        <span class="btn_1" id="cash_payment" style="cursor: pointer;">Submit for printing</span>
        <%#= button_tag "Add New", :class => 'btn btn-primary main_button', :id => 'add_more_button' %>
        <%#= button_tag "Add Older", :class => 'btn btn-warn main_button', :id => 'add_more_from_history_button', :data => {:toggle => 'modal', :target => '#fromHistory'} %>
        <% end%>
    </div>
    <% end %>
    <% if @documents.present? %>
    <div class="card-footer small text-muted">Updated at
        <%= @documents.first.updated_at.strftime("%d %B %Y , %l:%M %p") %>
    </div>
    <% end %>
    <%= render "groups/partial/from_desktop" %>
    <%= render "groups/partial/from_history" %>
</div>
<script type="text/javascript">
function asterisks_otp() {
    var length = $("#otp").val().length;
    var asterisks_otp = '*'.repeat(length);
    $("#otp").val(asterisks_otp);
};

function removeFromGroup(group_id, document_ids, successcb, errorcb) {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in
        url: "/remove_document_from_group",
        data: { document_ids: document_ids, id: group_id },
        success: function(data) {
            if (successcb) successcb(data);
        },
        error: function(exception) {
            if (successcb) successcb(exception);
        }
    });
}

$(document).ready(function() {
    asterisks_otp();
    $('#dataTableGroupDoc').DataTable({
        "ordering": false,
        "searching": false,
        "bLengthChange": false,
    });
});

$('#tbody_head').lightGallery({
    selector: '.group_item',
    iframeMaxWidth: '80%',
    thumbnail: false,
});

$("#online_payment").click(function() {
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in application.html.erb
        url: "/proceed_to_payment",
        data: { group_id: '<%= @group.id %>', type: 'online' },
        success: function(data) {
            // alert(data['success']);
        },
        error: function(exception) {
            alert(JSON.parse(exception.responseText)['error']);
        }
    });
});

$("#cash_payment").click(function() {
    // submit for printing. in proceed to print .please contsct on this number to pay and complete
    //  your printing.
    var retVal = confirm("Please contact on 017245644 number to pay and complete your printing.?");
    if (retVal == true) {
        $.ajax({
            type: "POST",
            beforeSend: setCsrfToken, // implemented in application.html.erb
            url: "/proceed_to_payment",
            data: { group_id: '<%= @group.id %>', type: 'cash' },
            success: function(data) {
                // alert(data['success']);
            },
            error: function(exception) {
                alert(JSON.parse(exception.responseText)['error'])
            }
        });
    }
});

$("#toggle_otp").click(function() {
    if ($(this).text() == 'Hide') {
        asterisks_otp();
        $(this).text('Show');
    } else {
        $("#otp").val($("#otp").data('value'));
        $(this).text('Hide');
    }
});

$(".remove_group_document").click(function() {
    var self = this;
    var document_id = [$(this).closest('.document_record').data('id')];
    var main_tr = $('tr.document_record[data-id="' + document_id[0] + '"]')
    var group_id = main_tr.parent().data('group-id')
    $(this).hide();

    function onSuccess(response) {
        $('#group_content').html(response);
    }

    function onError(reponse) {
        $(self).show();
    }
    removeFromGroup(group_id, document_id, onSuccess, onError);
});
$(".table_entry_name").tooltip({container: 'body'});
</script>
<script src="https://cdn.jsdelivr.net/picturefill/2.3.1/picturefill.min.js"></script>
<style type="text/css">
.lg-backdrop {
    z-index: 1050;
}
</style>