<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<div class="card card-register mx-auto mt-5">
    <div class="card-header">Register an Account
        <%= link_to "Back to Home", root_path, :class => 'top_right_button'%>
    </div>
    <div class="card-body">
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="form-group">
            <div class="form-label-group">
                <!-- <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required"> -->
                <!-- <label for="inputEmail">Email address</label> -->
                <%= f.email_field :login, autofocus: true, autocomplete: "email", :class => 'form-control', :placeholder => 'Email Address', :required => 'required'%>
                <%= f.label :login, "Email" %><br />
            </div>
        </div>
        <div class="form-group">
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-label-group">
                        <%= f.password_field :password, autocomplete: "new-password", :class => 'form-control', :placeholder => 'Password', :required => 'required' %>
                        <%= f.label :password %>
                    </div>
                    <ul>
                        <%= resource.errors.full_messages_for(:password).map { |msg| content_tag(:li, msg) }.uniq.join.html_safe %>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="form-label-group">
                        <%= f.password_field :password_confirmation, autocomplete: "new-password", :class=> 'form-control', :placeholder => 'Confirm Password',:required => 'required'%>
                        <%= f.label :password_confirmation %>
                    </div>
                    <%= resource.errors.full_messages_for(:password_confirmation).map { |msg| content_tag(:li, msg) }.uniq.join.html_safe %>
                </div>
                <div style="margin-left: 0.3rem;">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                I am Agreed to <a href="javascript:void()" data-toggle="modal" data-target="#TermsAndConditionsModal">Terms and Conditions</a>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
                            <label class="form-check-label" for="invalidCheck">
                                I have read the <a href="javascript:void()" data-toggle="modal" data-target="#CautionModal">Cautions</a>
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <%= f.submit "Sign up", :class => "btn_1" %>
        <%= link_to "Login", new_session_path(resource_name), :class=> 'btn_1' %>
        <% end %>
        <br>
        <div class="text-center">
            <%= render "devise/shared/links" %>
        </div>
    </div>
</div>
<div id="terms_and_conditions">
    <%= render "terms_and_conditions.html.erb" %>
</div>
<div id="cautions">
    <%= render "cautions.html.erb" %>
</div>