<!-- Breadcrumbs-->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="#">Dashboard</a>
    </li>
    <li class="breadcrumb-item active">Printed Group</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fas fa-table"></i>
        Printed Group</div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered document_table" id="dataTable" width="100%" cellspacing="0" data-turbolinks="false">
                <thead>
                    <tr>
                        <th width="40%">Printed On</th>
                        <th width="20%">Status</th>
                        <th width="20%">Payment Type</th>
                        <th width="20%">Show Details</th>
                    </tr>
                </thead>
                <tbody>
                    <% @printed_groups.each do |group| %>
                    <tr data-id="<%= group.id%>" class="document_record">
                        <td>
                            <%= group.updated_at.strftime("%l:%S:%M %p ,     %d %B %Y") %>
                        </td>
                        <td>
                            <%= group.status %>
                        </td>
                        <td>
                            <%= group.payment_type.capitalize %>
                        </td>
                        <td>
                            <%= link_to 'Details', { controller: :groups, action: :edit, id: group.id}  %>
                        </td>
                    </tr>
                    <% end %>
                </tbody>
            </table>
        </div>
    </div>
    <% if @printed_groups.present? %>
    <div class="card-footer small text-muted">Updated at
        <%= @printed_groups.first.updated_at.strftime("%d %B %Y , %l:%M %p") %>
    </div>
    <% end %>
</div>
<script>
$(document).ready(function() {
    $('#dataTable').DataTable({
        "ordering": false,
    });
});
</script>