<style>
    .custom-file-label:after{
        content: "Browse";
                                        }
    </style>
<div class="">
    <div class="">
        <div class="">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">Select Documents</li>
            </ol>
            <div id="documents_form">
                <form class="new_upload_document new_document_form" id="new_upload_document" enctype="multipart/form-data" action="<%= current_user.present? ? '/save_group' : '/save_docs'%>" accept-charset="UTF-8" method="post" group_id="">
                    <input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="/lBy4wW+drsehD1P5YX+g9/EQJAkOSWWhh+jyLtzD6W3JdkjX7hB1jHh7MJBzV7nmEPqIA4Ltc6XOsnkh5oZjg==">
                    <div id="documents_wrap">
                        <div class="document row form-group" style="margin-left: 0px;">
                            <div class="input-group col-4 col-sm-4">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input uploadDocument documentFileField" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" name="upload_document[1][document]" id="upload_document_document" data-buttonText="Your label here." aria-describedby="fileHelp" multiple>
                                    <label class="custom-file-label" for="inputGroupFile01" style="overflow: hidden;">File</label>
                                </div>
                            </div>
                            <div class="col-4 col-sm-4 document_name_field">
                                <div>
                                    <input autofocus="autofocus" class="form-control document_name" placeholder="Document Name" required="required" type="text" value="" name="upload_document[1][document_name]" id="upload_document_document_name">
                                </div>
                            </div>
                            <div class="col-2 col-sm-2 document_name_field">
                                <select class="form-control" id="type" style="background-color:#28a745;" name=upload_document[1][print_type]>
                                    <option value="black_white">B/W</option>
                                    <option value="color">Color</option>
                                </select>
                            </div>
                            <input type="hidden" value="all" name="upload_document[1][page_detail]" class="page_details">
                            <div class="message col-12 col-sm-12"></div>
                        </div>
                    </div>
                    <input type="hidden" name="history_document" id="history_document" value="">
                </form>
                <div id="history_list" style="display:none;">
                </div>
            </div>
            <div id="action_button_2" style="float:right;">
                <%= button_tag "Add New", :class => 'btn btn-primary main_button', :id => 'add_more_button' %>
                <% if current_user.present? %>
                <%= button_tag "Add Older", :class => 'btn btn-warn main_button', :id => 'add_more_from_history_button', :data => {:toggle => 'modal', :target => '#fromHistory'} %>
                <% end %>
            </div><br>
            <div class="container-fluid">
                Service Provider:
                <%= select_tag "company", options_from_collection_for_select(@companies, "id", "email"), {required: 'true', autofocus: 'true', class: 'form-control', style: 'display:inline-block;width:auto;'}%>
            </div><br>
        </div>
        <div id="action_button">
            <% if current_user.present? %>
            <%= button_tag "Submit Selected", :class => 'btn_1', :id => 'upload_submit_button' %>
            <% else %>
            <a class="btn_1" href="#" data-toggle="modal" data-target="#phoneNumberVerification2" id="continue_with_number">Submit Selected</a>
            <% end %>
        </div>
    </div>
</div>
<div id="loader_wrap_main" class="loader_wrap" style="display: none;">
    <img src="/images/loader.gif" id="loader_img" width="100" height="100">
</div>
</div>
<br>
<br><br><br><br><br>
<% if current_user.present? %>
<%= render "groups/partial/from_history_main" %>
<% else %>
<%= render "groups/partial/phone_number_verification_partial_modal" %>
<% end %>
<%= render "groups/partial/select_page_modal"%>