<section class="feature_part main_section_padding">
    <div class="container-fluid">
        <div class="row">
            <%= render "common_views/right_side_bar" %>
            <!-- Breadcrumbs-->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item active">In Progress Print</li>
            </ol> -->
            <div class="col col-10">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    In Progress Print</div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered document_table" id="dataTable" width="100%" cellspacing="0" data-turbolinks="false">
                            <thead>
                                <tr>
                                    <th width="40%">Updated On</th>
                                    <th width="20%">Status</th>
                                    <th width="20%">Payment Type </th>
                                    <th width="20%">Show Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @progress_groups.each do |group| %>
                                    <tr data-id="<%= group.id%>" class="document_record">
                                        <td>
                                            <%= group.updated_at.strftime("%l:%M %p ,     %d %B %Y") %>
                                        </td>
                                        <td>
                                            <%= group.status %>
                                        </td>
                                        <td>
                                            <%= group.payment_type.capitalize %>
                                        </td>
                                        <td>
                                            <%= link_to 'Details', { controller: :groups, action: :edit, id: group.id}  %>
                                        </td>
                                    </tr>
                                <% end %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <% if @progress_groups.present?%>
                    <div class="card-footer small text-muted">Updated at
                        <%= @progress_groups.first.updated_at.strftime("%d %B %Y , %l:%M %p") %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</section>
<script>

$(document).ready(function() {
    $('#dataTable').DataTable({
        "responsive": true,
        "ordering": false
    });
});
</script>