<section class="" style="">
    <div class="container-fluid">
        <div class="row">
            <!-- Breadcrumbs-->
            <!-- <ol class="breadcrumb">
                <li class="breadcrumb-item active">In Progress Print</li>
            </ol> -->
            <div class="col col-12">
                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Printed Document</li>
                </ol>
                <div class="card mb-3">
                    <div class="card-header">
                        <!-- <i class="fas fa-table"></i>
                        Printed Document -->
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered document_table" id="dataTable" width="100%" cellspacing="0" data-turbolinks="false">
                                <thead>
                                    <tr>
                                        <th width="40%">Submitted On</th>
                                        <th width="20%">Status</th>
                                        <!-- <th width="20%">Payment Type</th> -->
                                        <th width="20%">Show Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% @recently_printed.each do |group| %>
                                    <tr data-id="<%= group['_id'].to_s %>" class="document_record">
                                        <td>
                                            <%= group['updated_at'].strftime("%l:%M %p ,     %d %B %Y") %>
                                        </td>
                                        <td>
                                            <%= group['status'] %>
                                        </td>
                                        <!-- <td> -->
                                            <%#= group.payment_type.capitalize %>
                                        <!-- </td> -->
                                        <td>
                                            <%= link_to 'Details', { controller: :groups, action: :edit, id: group['_id'].to_s}, :class => 'group_detail_anchor'  %>
                                        </td>
                                    </tr>
                                    <% end %>
                                </tbody>
                            </table>
                        </div>
                        <% if @recently_printed.present? %>
                        <div class="card-footer small text-muted">Updated at
                            <%= @recently_printed[0]['updated_at'].strftime("%d %B %Y , %l:%M %p") %>
                        </div>
                        <% end %>
                    </div>
                </div>
            </div>
</section>
<script>
$(document).ready(function() {
    $('#dataTable').DataTable({
        "ordering": false,
        "searching": false,
        "bLengthChange": false,
    });
});
</script>