<!-- Breadcrumbs-->
<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">List Documents</li>
</ol>

<!-- Icon Cards-->
<!-- <div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-comments"></i>
        </div>
        <div class="mr-5">26 New Messages!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <div class="mr-5">11 New Tasks!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-shopping-cart"></i>
        </div>
        <div class="mr-5">123 New Orders!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-life-ring"></i>
        </div>
        <div class="mr-5">13 New Tickets!</div>
      </div>
      <a class="card-footer text-white clearfix small z-1" href="#">
        <span class="float-left">View Details</span>
        <span class="float-right">
          <i class="fas fa-angle-right"></i>
        </span>
      </a>
    </div>
  </div>
</div> -->
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-table"></i>
    Data Table Example</div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered document_table" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th width="10%">Select</th>
            <th width="18%">Name</th>
            <th width="40%">Path</th>
            <th width="15%">Status</th>
            <th width="17%">Action</th>
          </tr>
        </thead>
        <tfoot>
          <tr>
            <th>Select</th>
            <th>Name</th>
            <th>Path</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </tfoot>
        <tbody>
	      <% @upload_documents.each do |a| %>

				<tr data-id="<%= a.id%>" class="document_record">
					<td width="10%"><%= check_box_tag a.id, '', false, class: 'document_check_box', disabled: a.is_document_added_to_group? %></td>
					<td width="15%"><%= a.document_name %></td>
					<td style="word-wrap: break-word;word-break: break-all;" width="40%"><%= Rails.public_path.to_s + a.document_url %></td>
					<td width="15%"><%= a.status.capitalize %></td>
          <td width="20%"><%= button_tag a.is_document_added_to_group? ? "Added to group" : "Add to group", class: 'add_to_group btn btn-primary', disabled: a.is_document_added_to_group? %>
              <i class="fas fa-trash remove_document"></i>
          </td>
				</tr>
			<% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer small text-muted"><%= button_tag "Add to group", id: 'add_to_group', class: 'btn btn-primary' %></div>
  <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
</div>
<script>

$('#dataTable').DataTable({
    "ordering": false
});

// for one
$(".add_to_group").click(function(){
    var self = this;
    var document_id = [ $(this).closest('.document_record').data('id') ];
    var main_tr = $('tr.document_record[data-id="' + document_id[0] + '"]')
    $(this).prop('disabled', true);
    function onSuccess(response)
    {
      $(self).text('Added to group');
      main_tr.find('.document_check_box').prop('disabled','true');
      main_tr.find('.remove_cart_item').show();
      jQuery('nav span.total_group_item').text(response.total_group_item);
    }
    function onError(reponse)
    {
        $(self).removeAttr('disabled');
    }
    addToGroup(document_id, onSuccess, onError);
});
// for one
$(".remove_document").click(function(){
    var self = this;
    var document_id = [ $(this).closest('.document_record').data('id') ];
    var main_tr = $('tr.document_record[data-id="' + document_id[0] + '"]')
    $(this).prop('disabled', true);
    function onSuccess(response)
    {
      main_tr.remove();
      jQuery('nav span.total_group_item').text(response.total_group_item);
    }
    function onError(reponse)
    {
        $(self).removeAttr('disabled');
    }
    removeDocument(document_id, onSuccess, onError);
});

// for multiple using checkboxes
$("#add_to_group").click(function(){
    var checked_checkboxes = $('.document_check_box:checked');
    var document_ids = checked_checkboxes.map(function() {
            return $(this).attr('id');
    }).get();
    function onSuccess(response)
    {
      for(var i=0; i<document_ids.length; i++)
      {
        $('tr.document_record[data-id="' + document_ids[i] + '"]').find('.document_check_box').prop('disabled','true');
        $('tr.document_record[data-id="' + document_ids[i] + '"]').find('.add_to_group').text('Added to group');
        $('tr.document_record[data-id="' + document_ids[i] + '"]').find('.add_to_group').prop('disabled','true');
      }
      jQuery('nav span.total_group_item').text(response.total_group_item);
    }
    addToGroup(document_ids, onSuccess);
});

function addToGroup(document_ids, successcb, errorcb){
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in
        url: "/add_document_to_group",
        data: { document_ids: document_ids },
        success: function(data) {
            if(successcb) successcb(data);
        },
        error: function(exception) {
            if(successcb) successcb(exception);
        }
    });
}

function removeDocument(document_ids, successcb, errorcb){
    $.ajax({
        type: "POST",
        beforeSend: setCsrfToken, // implemented in
        url: "/remove_documents",
        data: { document_ids: document_ids },
        success: function(data) {
            if(successcb) successcb(data);
        },
        error: function(exception) {
            if(successcb) successcb(exception);
        }
    });
}

function setCsrfToken(xhr){
    xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
}

</script>