<ol class="breadcrumb">
  <li class="breadcrumb-item">
    <a href="#">Dashboard</a>
  </li>
  <li class="breadcrumb-item active">Upload Documents</li>
</ol>
<%= form_for @upload_document, url: save_document_path do |f| %>
	 <div class="form-group">
	 	<div class="form-label-group">
			<%= f.text_field :document_name, autofocus: true, :class => 'form-control', :placeholder => 'Document Name', :required => 'required' %>	
			<%= f.label :document_name %>
		</div>
    </div>
	<div class="form-group">
	 	<div class="form-label-group">
			<%= f.hidden_field :document, value: f.object.cached_document_data %>
			<%= f.file_field :document , class: 'uploadDocument' %>
			<%= f.label :document %>
			<% if @upload_document.errors[:document] %>
		    <ul class="errors">
		      <%= @upload_document.errors.full_messages_for(:document).map { |msg| content_tag(:li, msg) }.uniq.join.html_safe %>
		    </ul>
		  <% end %>
	</div>
  <%= f.submit "Upload", :class => 'btn btn-primary btn-block' %>
<% end %>