<!DOCTYPE html>
<!-- saved from url=(0038)file:///home/code/mytheme/mytheme.html -->
<html>

<head>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Remote Printer</title>
    <link rel="stylesheet" href="/assets/mytheme_files/w3.css">
    <link rel="stylesheet" href="/assets/mytheme_files/w4.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.0/css/lightgallery.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <script src="http://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" int<!-- egrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.3.2/js/lightgallery.js"></script>
    <style>
    html,
    body,
    h1,
    h2,
    h3,
    h4,
    h5 {
        font-family: "Raleway", sans-serif
    }

    .top_li {
        display: inline-block;
        padding: 0 81px 0px 0px;
    }

    .top_ul {
        display: flex;
    }

    .top_ul:after {
        content: "";
        display: table;
        clear: both;
    }

    .top_li {
        float: left;
    }

    .top_ul {
        display: table;
    }

    .top_li {
        display: table-cell;
    }

    @media (max-width: 1026px) {
        .top-navbar {
            display: none;
        }
    }

    .top_anchor {
        text-decoration: none;
    }

    div.container-fluid {
        margin-top: 1.5rem;
    }
    </style>
</head>

<body class="w3-light-grey">
    <!-- Top container -->
    <div class="w3-bar w3-top w3-black w3-large" style="z-index:4">
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey" onclick="w3_open();"><i class="fa fa-bars"></i> &nbsp;Menu</button>
        <button class="w3-bar-item w3-button w3-hide-large w3-hover-none w3-hover-text-light-grey w3-right sm-none" onclick="w3_open_top_bar();"><i class="fa fa-bars"></i></button>
        <div class="w3-hide-small">
            <nav class="top-navbar" style="float: right;">
                <ul class="top_ul" style="float: right;margin-bottom: 0px;">
                    <li class="nav-item active top_anchor top_li">
                        <%= link_to(root_path, :class => "nav-link top_anchor") do %>
                        &nbsp; Home
                        <% end %>
                    </li>
                    <li class="nav-item top_li">
                        <%= link_to(upload_doc_path, :class => "nav-link top_anchor") do %>
                        Documents
                        <% end %>
                    </li>
                    <li class="nav-item top_li">
                        <%= link_to(destroy_user_session_path,{ method: :delete, class: :'nav-link top_anchor' }) do %>
                        Log Out
                        <% end %>
                        <%#= link_to(destroy_user_session_path,{ method: :delete, class: :'nav-link top_anchor', :data => {:toggle => 'modal', :target => '#logoutModal'} }) do  %>
                        <!-- Log out -->
                        <%# end %>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- <span>ds</span> -->
    </div>
    <!-- Sidebar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left w3-hide-large" style="z-index: 3; width: 300px; display: none;" id="mySidebar"><br>
        <div class="w3-container w3-row">
            <div class="w3-col s4">
                <img src="/assets/logo/avatar2.png" class="w3-circle w3-margin-right" style="width:46px">
            </div>
            <div class="w3-col s8 w3-bar">
                <span>Welcome, <strong>
                        <%= current_user.email.split('@').first %></strong></span><br>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-envelope"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-user"></i></a>
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-cog"></i></a>
            </div>
        </div>
        <hr>
        <div class="w3-container">
            <h4>Dashboard</h4>
        </div>
        <div class="w3-bar-block" data-turbolinks="false">
            <a href="javscript:;" class="w3-bar-item w3-button w3-padding-16 w3-hide-large w3-dark-grey w3-hover-black" onclick="w3_close()" title="close menu"><i class="fa fa-remove fa-fw"></i>&nbsp; Close Menu</a>
            <%= link_to(upload_doc_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="fas fa-book fa-fw"></i>&nbsp;Upload Documents
            <% end %>
            <%= link_to(printed_groups_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="fas fa-print fa-fw"></i>&nbsp;Printed Documents
            <% end %>
            <%= link_to(progress_groups_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="fas fa-spinner fa-fw"></i>&nbsp;Documents Under Process
            <% end %>
            <%= link_to(recently_printed_groups_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="far fa-clock fa-fw"></i>&nbsp;Recently Printed
            <% end %>
            <%= link_to(list_documents_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="fas fa-list fa-fw"></i>&nbsp;History
            <% end %>
            <br><br>
        </div>
    </nav>
    <!-- Topbar/menu -->
    <nav class="w3-sidebar w3-collapse w3-white w3-animate-left pull-right" style="z-index:3;width:300px;display: none !important;right:0;animation: animateright 0.4s;" id="myTopbar">
        <div class="w3-bar-block">
            <%= link_to(root_path, :class => "w3-bar-item w3-button w3-padding") do %>
           <i class="fas fa-home"></i>&nbsp; Home
            <% end %>
            <%= link_to(upload_doc_path, :class => "w3-bar-item w3-button w3-padding") do %>
            <i class="fas fa-book"></i>>&nbsp; Documents
            <% end %>
            <%= link_to(destroy_user_session_path,{ method: :delete, class: :'w3-bar-item w3-button w3-padding' }) do %>
            <i class="fas fa-sign-out-alt"></i>&nbsp; Log out
            <% end %>
        </div>
    </nav>
    <!-- Overlay effect when opening sidebar on small screens -->
    <div class="w3-overlay w3-hide-large w3-animate-opacity" onclick="w3_close()" style="cursor: pointer; display: none;" title="close side menu" id="myOverlay"></div>
    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px;margin-top:43px;">
        <!-- Header -->
        <header class="w3-container" style="padding-top:22px">
        </header>
        <div class="w3-panel">
            <%= yield %>
        </div>
        <div class="w3-container w3-dark-grey w3-padding-32 ">
            <div class="w3-row">
                <div class="w3-container w3-third">
                    <div class="single-footer-widget footer_1">
                        <a href="/"> <img src="/assets/logo-02b65207606ad6314aa3ffffedb8ffef1ddc2fa009828824e340f522383ed7c1.png"> </a></br>
                        <p>But when shot real her. Chamber her one visite removal six
                            sending himself boys scot exquisite existend an </p>
                        <p>But when shot real her hamber her </p>
                    </div>
                </div>
                <div class="w3-container w3-third">
                    <h2 class="w3-bottombar" style="border-bottom: 0px !important;">Suggestion</h2>
                    <div class="single-footer-widget footer_2">
                        <p>In order to express your experience and suggestion. Please send an email at <a href="mailto:info@codegaragetech.com">info@codegaragetech.com</a>.
                        </p>
                        <!-- <img src="/assets/footer_pic-bef38ecefcb11852b9ebcca66158229a65c2172b64b0bb7da47271995021ae24.jpg"> -->
                    </div>
                </div>
                <div class="w3-container w3-third">
                    <h2 class="w3-bottombar" style="border-bottom:0px !important;">Contact Us</h2>
                    <div class="single-footer-widget footer_2">
                        <div class="contact_info">
                            <p><span> Address :</span> Main bazar Vikas Nagar, Khandwala Chheharta Amritsar </p>
                            <p><span> Phone :</span> +91 7710706771</p>
                            <p><span> Email : </span>apcom321@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <!-- End page content -->
    </div>
    <script>
    var mySidebar = document.getElementById("mySidebar");

    var myTopbar = document.getElementById("myTopbar");

    var topoverlayBg = document.getElementById("topOverlay");
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            myTopbar.style.display = 'none';
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    function w3_open_top_bar() {
        if (myTopbar.style.display === 'block') {
            myTopbar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'none';
            myTopbar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }

    function setCsrfToken(xhr) {
        xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'))
    }

    <% if flash[:notice].present? %>
    message = "<%= flash[:notice]%>"
    type = 'success'
    notification(message, type)
    <%end%>

    <% if flash[:alert].present? %>
    message = "<%= flash[:alert]%>"
    type = 'warn'
    notification(message, type)
    <%end%>

    <% if flash[:message].present?%>
    message = "<%= flash[:message]%>"
    type = 'info'
    notification(message, type)
    <%end%>

    <% if flash[:errors].present?%>
    <% if flash[:errors].class == Array %>
    <%flash[:errors].each do |err|%>
    message = "<%= err.html_safe %>"
    type = 'error'
    notification(message, type)
    <%end%>
    <% else %>
    message = "<%= flash[:errors] %>"
    type = 'error'
    notification(message, type)
    <% end %>
    <% end %>

    function notification(message, type) {
        $.notify(message, {
            className: type,
            clickToHide: true,
            globalPosition: 'top center',
            autoHideDelay: 10000000,
            width: 500,
            height: 300
        });
    }
    </script>
    <script>
    // Get the Sidebar
    var mySidebar = document.getElementById("mySidebar");

    var myTopbar = document.getElementById("myTopbar");

    var topoverlayBg = document.getElementById("topOverlay");
    // Get the DIV with overlay effect
    var overlayBg = document.getElementById("myOverlay");

    // Toggle between showing and hiding the sidebar, and add overlay effect
    function w3_open() {
        if (mySidebar.style.display === 'block') {
            mySidebar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            myTopbar.style.display = 'none';
            mySidebar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }

    function w3_open_top_bar() {
        if (myTopbar.style.display === 'block') {
            myTopbar.style.display = 'none';
            overlayBg.style.display = "none";
        } else {
            mySidebar.style.display = 'none';
            myTopbar.style.display = 'block';
            overlayBg.style.display = "block";
        }
    }
    // Close the sidebar with the close button
    function w3_close() {
        mySidebar.style.display = "none";
        overlayBg.style.display = "none";
    }
    </script>
</body>

</html>